build*/
install*/
release*/
debug/
.ycm_extra_conf.py
.vscode
.idea
.cache
compile_commands.json
DP_simu/scripts/currentEvent.rndm
DP_simu/scripts/currentRun.rndm
DP_simu/scripts/dp_out.root
binana/dp*.root
binana/output.txt
binana/err.txt
binana/log.txt
/Run_Workspace/
run/
test/
Automaton/*.log
Automaton/update_wiki.sh
*~
Algorithms/Tracking/include/Algo/RiemannFit/*.swp
Algorithms/Tracking/include/Algo/*.swp
Algorithms/Tracking/src/RiemannFit/*.swp
Algorithms/Tracking/src/*.swp
/workspace/
